<app-menu></app-menu>
<section>
    <div class="container my-5 py-5 text-dark">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-6">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="d-flex flex-start w-100">
                            <img class="rounded-circle shadow-1-strong me-3"
                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp" alt="avatar"
                                width="100" height="100" />
                            <div class="w-100 ">
                                <h5 class="comments">Agrega un comentario</h5>

                                <!-- Ajuste para que las estrellas estén en línea -->
                                <ul class="rating mb-3 d-flex justify-content-center"
                                    style="list-style: none; padding: 0;" data-mdb-toggle="rating">
                                    <li>
                                        <i class="bi bi-star fs-3"></i>
                                    </li>
                                    <li>
                                        <i class="bi bi-star fs-3"></i>
                                    </li>
                                    <li>
                                        <i class="bi bi-star fs-3"></i>
                                    </li>
                                    <li>
                                        <i class="bi bi-star fs-3"></i>
                                    </li>
                                    <li>
                                        <i class="bi bi-star fs-3"></i>
                                    </li>
                                </ul>

                                <div data-mdb-input-init class="form-outline">
                                    <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                                    <label class="form-label" for="textAreaExample">Cual es tu opinion?</label>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary">Calificar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>