<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- Brand -->
      <a class="navbar-brand type-letter" href="#">AgroptimaLasso</a>
  
      <!-- Toggler for Mobile -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Navbar Links (Collapsible) -->
      <div class="collapse navbar-collapse align-items-center" id="navbarSupportedContent">
        <!-- Navbar Icons -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-primary" href="/dashboard"><i class="bi bi-house-door-fill"></i> Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="/rating"><i class="bi bi-bookmark-check-fill"></i> Calificaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="/profiles"><i class="bi bi-people-fill"></i> Perfiles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="#"><i class="bi bi-bell-fill"></i> Notificaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="/farms"><i class="bi bi-building"></i> Fincas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="#"><i class="bi bi-briefcase"></i> Otros trabajos</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle d-flex align-items-center"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
              src="../../../assets/images/logouser.png"
                alt="User"
                class="rounded-circle"
                width="40"
                height="40"
              />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Perfil</a></li> 
              <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  