<app-menu></app-menu>
<div class="container">
  <div class="row mt-4">
    <div class="col-12 col-sm-6 col-lg-3" *ngFor="let worker of workers">
      <div class="single_advisor_profile">
        <div class="advisor_thumb">
          <img [src]="worker.img" alt="">
          <div class="social-info">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <div class="single_advisor_details_info">
          <h6>{{ worker.name }}</h6>
          <p class="designation">{{ worker.role }}</p>
          <textarea class="form-control mb-3" rows="2" placeholder="Condiciones del finquero"
            [(ngModel)]="worker.comment"></textarea>
          <button class="btn btn-success w-100 rounded-pill" (click)="hire(worker)">
            Contratar
          </button>
          <button class="btn btn-danger w-100 rounded-pill mt-2" (click)="reject(worker)">
            Rechazar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>